extends _partial/layout.pug

block body
    article.post
        .post-title
            h2.title #{page.title}
        .post-meta
            span.post-time #{date(page.date, "YYYY-MM-DD")}
            span#show-post-list 显示文章目录
        .post-content !{page.content}
        if (page.prev)
            span.new-post.other  
                a(href=url_for(page.prev.path)) #{ __('Post.New')}: #{page.prev.title}
        if (page.next)
            span.old-post.other  
                a(href=url_for(page.next.path)) #{ __('Post.Old')}: #{page.next.title}

        
        div#post-list !{toc(page.content, false)}


        include _partial/comments.pug
 
